RewriteEngine on

RewriteBase /
RewriteCond %{HTTP_HOST} !^(www.daviferreira.com|.*dfimg.com)$ [NC]
RewriteRule ^(.*)$ http://www.daviferreira.com/$1 [L,R=301]

Header unset ETag
FileETag None

ExpiresActive On
ExpiresDefault A7200
Header append Cache-Control "proxy-revalidate"

ExpiresByType text/css "now plus 1 week"
ExpiresByType text/javascript "now plus 1 week"

# Add Proper MIME-Type for Favicon
AddType image/x-icon .ico
ExpiresByType image/x-icon "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/png "access plus 1 month"

# Fonts
ExpiresByType font/truetype "access plus 1 year"
ExpiresByType font/opentype "access plus 1 year"
ExpiresByType application/x-font-woff   "access plus 1 year"
ExpiresByType image/svg+xml "access plus 1 year"
ExpiresByType application/vnd.ms-fontobject "access plus 1 year" 

order deny,allow

Options -Indexes
