<section class="myself clearfix">
    <a href="#">
        <article>
            <figure>
                <%= image_tag "davi.jpg" %>
            </figure>
            <p><strong>Davi Ferreira </strong> é um programador apaixonado pelo que faz. Responsável pelo desenvolvimento de sistemas e interfaces para Globo.com.</p>
        </article>
    </a>
</section>
<ul class="contact">
    <li><a href="mailto:hi@daviferreira.com">hi@daviferreira.com</a></li>
    <li><a href="#">@davitferreira</a></li>
</ul>
