<section class="myself clearfix">
    <article>
        <figure>
            <%= image_tag "davi.jpg" %>
        </figure>
        <p><%= render_page "myself" %></p>
    </article>
</section>
<ul class="contact">
    <li><%= mail_to "hi@daviferreira.com" %></li>
    <li><%= link_to "@davitferreira", "http://twitter.com/davitferreira" %></li>
</ul>
