<section class="myself clearfix">
    <article>
        <figure>
            <%= image_tag "davi.jpg" %>
        </figure>
        <p><strong>Davi Ferreira </strong> é um programador apaixonado pelo que faz. Responsável pelo desenvolvimento de sistemas e interfaces para Globo.com.</p>
    </article>
</section>
<ul class="contact">
    <li><%= mail_to "hi@daviferreira.com" %></li>
    <li><%= link_to "@davitferreira", "http://twitter.com/davitferreira" %></li>
</ul>
