<section class="row admin-header">
    <div class="slot-0-1-2-3">
      <header>
      <h1><%= t "projects.edit" %><small><%= t "or" %> <%= link_to t("go_back_listing"), admin_projects_path %></small></h1>
      </header>
    </div>
    <div class="slot-4-5">
    </div>
</section>
<section class="row admin-form">
    <%= render "form", :project => @project %>
</section>