<div class="projects-container">
    <section class="container projects clearfix">
        <header>
            <h1>These are my latest works</h1>
        </header>
        <% @projects.each_with_index do |project, index| %>
            <article class="project<% if index % 3 == 0 %> first<% end %>">
                <h3><%= project.name %></h3>
                <figure>
                    <% unless project.photos.empty? %>
                        <%= image_tag project.photos.first.file.url(:highlight) %>
                    <% end %>
                </figure>
            </article>
        <% end %>
    </section>
</div>

<div class="secondary-info-container">
    <div class="secondary-info container clearfix">
        <section class="open-source">
            <header>
                <h1>I <em>&hearts;</em> open source</h1>
            </header>
        </section>
        <section class="writing-talks">
            <header>
                <h1>Writing & Talking</h1>
            </header>
        </section>
        <section class="about-me">
            <header>
                <h1>About me</h1>
            </header>
        </section>
    </div>
</div>
