<div class="slides">
  <div class="grid">
    <div class="row">
      <div class="slot-0-1-2-3">
        pic
      </div>
      <div class="slot-4-5">
        <section class="slide">
          <header>
            <h1>TVG</h1>
          </header>
        </section>
      </div>
    </div>
  </div>
</div>

<section class="highlights">
  <div class="grid">
    <div class="row">
      <div class="slot-0-1">
        <article>
          <a href="#">
            <h4>Big Brother Brasil</h4>
            <p>Membro da equipe de desenvolvimento do site oficial do Big Brother Brasil, programa de maior audiência da América Latina</p>
          </a>
        </article>
      </div>
      <div class="slot-2-3">
        <article>
          <a href="#">
            <h4>Big Brother Brasil</h4>
            <p>Membro da equipe de desenvolvimento do site oficial do Big Brother Brasil, programa de maior audiência da América Latina</p>
          </a>
        </article>
      </div>
      <div class="slot-4-5">
        <article>
          <a href="#">
            <h4>Big Brother Brasil</h4>
            <p>Membro da equipe de desenvolvimento do site oficial do Big Brother Brasil, programa de maior audiência da América Latina</p>
          </a>
        </article>
      </div>
    </div>
  </div>
</section>
