<div class="projects-container">
    <section class="container projects clearfix">
        <header>
            <h1>These are my latest works</h1>
        </header>
        <% @projects.each_with_index do |project, index| %>
            <article class="project<% if index % 3 == 0 %> first<% end %>">
                <h3><%= project.name %></h3>
                <figure>
                    <% unless project.photos.empty? %>
                        <%= image_tag project.photos.first.file.url(:highlight) %>
                    <% end %>
                </figure>
            </article>
        <% end %>
    </section>
</div>

<div class="secondary-info-container">
    <div class="secondary-info container clearfix">
        <section class="open-source">
            <header>
                <h1><small><a href="#">more @ github &#8250;</a></small>I <em>&hearts;</em> open source</h1>
            </header>
            <article class="clearfix">
                <figure>
                    <%= image_tag "canvas.jpg" %>
                </figure>
                <h2>Canvas PHP Image Manipulation</h2>
                <p>Drag and drop files right from your desktop or web browser. Your files will be automatically uploaded to the cloud. <a href="#">Watch the video&hellip;</a></p>
            </article>
            <article class="clearfix">
                <figure>
                    <%= image_tag "simple-code-review.jpg" %>
                </figure>
                <h2>Simple Code Review</h2>
                <p>Drag and drop files right from your desktop or web browser. Your files will be automatically uploaded to the cloud. <a href="#">Watch the video&hellip;</a></p>
            </article>
        </section>
        <section class="writing-talks">
            <header>
                <h1><small><a href="#">visit my blog &#8250;</a></small>Writing & Talking</h1>
            </header>
        </section>
    </div>
</div>
