<section class="projects">
    <% @projects.each_with_index do |project, index| %>
        <article class="project">
            <figure>
                <% unless project.photos.empty? %>
                    <%= image_tag project.photos.first.file.url(:highlight) %>
                <% end %>
            </figure>
            <h3><%= project.name %></h3>
        </article>
    <% end %>
</section>
