<div class="m-slides">
  <div class="grid">
    <div class="row">
      <div class="slot-0-1-2-3">
        pic
      </div>
      <div class="slot-4-5">
        <section class="slide">
          <header>
            <h1>TVG</h1>
          </header>
          <p>O mais novo portal da globo.com agrega os principais produtos de entretenimento da casa</p>
          <a href="#">more details</a>
        </section>
      </div>
    </div>
  </div>
</div>

<section class="highlights">
  <div class="grid m-highlights">
    <div class="row">
      <div class="slot-0-1">
        <article>
          <a href="#">
            <h4>Big Brother Brasil</h4>
            <p>Membro da equipe de desenvolvimento do site oficial do Big Brother Brasil, programa de maior audiência da América Latina</p>
          </a>
        </article>
      </div>
      <div class="slot-2-3">
        <article>
          <a href="#">
            <h4>Big Brother Brasil</h4>
            <p>Membro da equipe de desenvolvimento do site oficial do Big Brother Brasil, programa de maior audiência da América Latina</p>
          </a>
        </article>
      </div>
      <div class="slot-4-5">
        <article>
          <a href="#">
            <h4>Big Brother Brasil</h4>
            <p>Membro da equipe de desenvolvimento do site oficial do Big Brother Brasil, programa de maior audiência da América Latina</p>
          </a>
        </article>
      </div>
    </div>
  </div>
</section>

<div class="secondary-content">
  <section class="grid m-works">
    <nav>
      <a href="#">websites</a>
      <a href="#">sistemas</a>
      <a href="#">e-commerce</a>
      <a href="#">hotsites</a>
      <a href="#">outros</a>
    </nav>
    <header>
      <h1><span>+</span> works</h1>
    </header>
    <div class="row row-works">
      <div class="slot-6">
        <ul>
          <li><a href="#">Big Brother Brasil</a></li>
          <li><a href="#">The Voice Brasil</a></li>
          <li><a href="#">TVG</a></li>
          <li><a href="#">Domingão do Faustão</a></li>
          <li><a href="#">Caldeirão do Huck</a></li>
          <li><a href="#">Vídeo Show</a></li>
        </ul>
      </div>
      <div class="slot-7">
        <ul>
          <li><a href="#">Big Brother Brasil</a></li>
        </ul>
      </div>
      <div class="slot-8">
        <ul>
          <li><a href="#">Big Brother Brasil</a></li>
        </ul>
      </div>
      <div class="slot-9">
        <ul>
          <li><a href="#">Big Brother Brasil</a></li>
        </ul>
      </div>
    </div>
  </section>
  <div class="grid m-more-info">
    <div class="row">
      <section class="slot-0-1">
        <header>
          <h1>I <span>&hearts;</span> open source</h1>
        </header>
        <ul>
          <li><a href="#">Simple Code Review</a></li>
          <li><a href="#">Canvas PHP Class</a></li>
        </ul>
      </section>
      <section class="slot-2-3">
        <header>
          <h1>talks & writings</h1>
        </header>
      </section>
      <section class="slot-4-5">
        <header>
          <h1>social</h1>
        </header>
      </section>
    </div>
  </div>
</div>
