<div class="projects-container projects-page secondary-page">
    <div class="container clearfix">
        <section class="nav-sidebar">
            <div class="sidebar-container">
                <header class="clearfix">
                    <h1>Portfolio</h1>
                </header>
                <nav>
                    <a class="current" href="#">by date</a>
                    <a href="#">by category</a>
                    <a href="#">by tag</a>
                </nav>
            </div>
        </section>
        <section class="projects-list clearfix main-content">
            <% @projects_by_year.each do |year, projects| %>
                <h3><%= year %></h3>
                <ul class="clearfix">
                <% projects.each do |project| %>
                    <li>
                        <a href="#">
                            <% unless project.photos.empty? %>
                                <figure>
                                    <%= image_tag project.photos.first.file.url(:thumb) %>
                                </figure>
                            <% end %>
                            <%= project.name %>
                        </a>
                    </li>
                <% end %>
                </ul>
            <% end %>
        </section>
    </div>
</div>