<div class="page-container secondary-page">
    <div class="container clearfix">
        <section class="sidebar">
            <div class="sidebar-container">
                <header class="clearfix">
                  <h1><%= @page.title %></h1>
                </header>
                <%= raw @page_sidebar %>
                <%= render "shared/myself" %>
            </div>
        </section>
        <section class="page clearfix main-content">
            <article>
                <%= raw @page.body %>
            </article>
        </section>
    </div>
</div>
