<div class="sidebar-navigation">
    <ul class="filters filters-categories">
      <li><%= link_to t("todos"), projects_path(:locale => current_locale) %></li>
      <% @categories.each do |category| %>
        <li><%= link_to category.name, projects_by_category_path(category, :locale => current_locale) %></li>
      <% end %>
    </ul>
</div>
