<div class="sidebar-navigation">
    <ul class="filters">
        <li><a href="<%= posts_path(:locale => current_locale) %>">tudo</a></li>
        <li><a href="http://tableless.com.br" target="_blank">Tableless</a></li>
        <li><a href="<%= posts_path(:locale => current_locale, :tag => "javascript") %>">JavaScript</a></li>
        <li><a href="<%= posts_path(:locale => current_locale, :tag => "jquery") %>">jQuery</a></li>
        <li><a href="<%= posts_path(:locale => current_locale, :tag => "php") %>">PHP</a></li>
    </ul>
</div>
