<div class="sidebar-navigation">
    <ul class="filters">
        <li><a href="#">tudo</a></li>
        <li><a href="#">Tableless</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">jQuery</a></li>
        <li><a href="#">PHP</a></li>
    </ul>
</div>
