@import "variables";
@import "compass/css3";

.m-slides {
  height: 300px;
  background-color: $bg_color;
  color: #fff;
  header {
    margin: 60px 0 15px 0;
  }
  p {
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 24px;
  }
  a {
    display: inline-block;
    padding: 3px 6px;
    border: 1px dotted rgba(#fff, .6);
    color: rgba(#fff, .6);
    &:hover {
      color: #fff;
      background-color: rgba(#fff, .1);
      border-color: #fff;
      border-style: solid;
    }
  }
}

.highlights {
  margin: 30px 0;
  article {
    padding: 30px;
    background-color: #fafafa;
    border-top: 3px solid $bg_color;
  }
  h4 {
    margin: 0 0 15px 0;
    color: $link_color;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -1px;
  }
  a:hover {
    h4 {
      color: $hover_color;
    }
  }
}

.secondary-content {
  padding: 30px 0;
  background-color: #fbfbfb;
}

.m-works {
  nav {
    margin: 6px 0 0;
    float: right;
    a {
      display: inline-block;
      margin: 0 12px 0 0;
      color: #999;
      &:last-child {
        margin: 0 0;
      }
      &:hover {
        color: #000;
      }
    }
  }
  h1 {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #ccc;
    font-size: 28px;
    line-height: 26px;
    span {
      display: block;
      float: left;
      margin: 1px 6px 0 0;
      font-size: 36px;
      color: $link_color;
    }
  }
  .row-works {
    padding: 40px 0;
    border-bottom: 6px solid #000;
  }
  ul {
    margin: 0 0;
    list-style: none;
  }
  li {
    margin: 0 0 12px 0;
    &:last-child {
      margin: 0 0;
    }
  }
}

.m-more-info {
  margin-top: 50px;
  h1 {
    padding: 0 0 12px 0;
    border-bottom: 1px solid #ccc;
    font-size: 28px;
    line-height: 24px;
    text-transform: lowercase;
    span {
      color: red;
      font-family: Times, TimesNewRoman, serif;
      font-size: 20px;
    }
  }
}
