@import "variables";
@import "compass/css3";
@import "flipping_panel";

$project_width: 374px;
$project_height: 242px;

.masthead {
    background: #000 url($bg_pattern) 0 -600px repeat;
    padding: 180px 0;
    margin: 0;
    border-bottom: 6px solid #dbdbdb;
    text-align: center;
    h1 {
        margin: 0;
        color: #fff;
        font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
        font-size: 62px;
        font-weight: 900;
        letter-spacing: -2px;
        text-transform: lowercase;
    }
    h2 {
        display: inline-block;
        margin: 20px 0 0;
        background: #000;
        padding: 10px;
        color: #fff;
        font-family: ProximaNovaLight, Helvetica, Arial, sans-serif;
        font-size: 32px;
        font-weight: normal;
        letter-spacing: -1px;
        line-height: 22px;
        text-transform: lowercase;
        @include border-radius(3px);
    }
}

a {
    color: $link_color;
}

a:hover {
    color: $hover_color;
}

.projects-container {
    background-color: rgba(#dbdbdb, .1);
}

.projects {
    padding: 60px 0 40px 0;
    header {
        margin: 0 0 40px 0;
        h1 {
            color: #000;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-size: 32px;
            font-weight: 900;
            letter-spacing: -1px;
            text-transform: lowercase;
            text-align: center;
            @include text-shadow(0 2px 3px #fff);
        }
    }
    article {
        float: left;
        width: $project_width;
        margin: 0 0 21px 21px;
        background-color: #ccc;
        border: 1px solid rgba(#dbdbdb, .6);
        @include border-bottom-radius(3px);
        @include box-shadow(0 0 10px rgba(#dbdbdb, .3));
        &.first {
            margin-left: 0;
        }
    }
    h3 {
        margin: 0;
        padding: 20px 20px 16px 20px;
        background: #000;
        color: #fff;
        font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: -1px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
    }
    figure {
        position: relative;
        margin: 0;
        width: $project_width;
        height: $project_height;
        img {
            width: $project_width;
            height: $project_height;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: $project_width;
            height: $project_height;
            @include box-shadow(inset 0 0 10px rgba(#000, .6));
        }
    }

    .all-projects {
        clear: both;
        margin: 20px 0 0;
        text-align: center;
        a {
            padding: 10px;
            background: $link_color;
            color: #fff;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-size: 20px;
            letter-spacing: -1px;
            @include border-radius(3px);
            @include transition(background .3s linear);
            &:hover {
                background-color: $hover_color;
            }
        }
    }
}

.project-meta-data {
    padding: 20px;
    color: rgba(#fff, .8);
    line-height: 20px;
    i {
        display: block;
        margin-right: 10px;
        float: left;
        width: 16px;
        height: 16px;
    }
    ul {
        margin: 20px 0 0;
        border-top: 1px solid rgba(#fff, .3);
        border-bottom: 1px solid rgba(#fff, .3);
    }
    li {
        margin: 10px 0;
    }
    a {
        color: rgba(#fff, .5);
        cursor: pointer !important;
        &:hover {
            text-decoration: underline;
        }
    }
    .details {
        margin: 10px 0 0;
        text-align: center;
        font-weight: bold;
        a {
            color: #fff;
        }
    }
}

.secondary-info-container {
    padding: 60px 0;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
}

.secondary-info {
    section {
        float: left;
        width: 564px;
        min-height: 200px;
        margin: 0 42px 0 0;
        &:last-child {
            margin-right: 0;
        }
    }
    h1 {
        padding: 6px;
        margin: 0 0 20px 0;
        border-bottom: 1px solid rgba(#ccc, .3);
        font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
        font-size: 26px;
        font-weight: normal;
        letter-spacing: -1px;
        text-transform: lowercase;
        em {
            font-family: HelveticaNeue, sans-serif;
            font-size: 18px;
            font-weight: bolder;
            color: red;
        }
        small {
            display: block;
            margin: 8px 0 0;
            float: right;
            font-size: 14px;
        }
    }
    article {
        padding: 20px 0;
        h2 {
            margin: 10px 0;
            color: #333;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-size: 18px;
            font-weight: normal;
            letter-spacing: -1px;
            line-height: 24px;
        }
        p {
            line-height: 22px;
            color: #82858a;
            a {
                display: block;
                text-align: right;
            }
        }
    }
    .open-source {
        h2, p {
            float: right;
            width: 426px;
        }
        figure {
            position: relative;
            float: left;
            overflow: hidden;
            border: 1px solid #fff;
            width: 118px;
            height: 118px;
            @include border-radius(60px);
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 118px;
                height: 118px;
                @include border-radius(60px);
                @include box-shadow(inset 0 0 4px rgba(#000, .6));
            }
        }
 
    }
    .writing-talks {
        article {
            float: left;
        }
        .book {
            width: 335px;
            img {
                @include transition(all .15s linear);
            }
            figure, .description {
                float: left;
            }
            .description {
                width: 162px;
                margin: 45px 0 0 20px;
            }
            &:hover {
                img {
                    @include simple-transform(1.2, -10deg);
                    @include box-shadow(0 0 10px #666);
                }
            }
        }
        .decks {
            padding-bottom: 20px;
            border-bottom: 1px solid #dbdbdb;
            li {
                width: 228px;
                height: 66px;
                overflow: hidden;
                &:hover {
                    @include box-shadow(0 0 6px #000);
                }
            }
            a {
                @include transition(opacity .3s ease-in-out);
                @include opacity(.6);
                &:hover {
                    @include opacity(1);
                }
            }
        }
        .post {
            float: none;
            clear: both;
        }
    }
}

.about-me-container {
    background-color: #fcfcfc;
    border-top: 1px solid #dbdbdb;
}

.about-me {
    section {
        width: $project_width + 1;
        height: 270px;
        margin: 0 21px 0 0;
        padding: 60px 0;
        float: left;
        border-right: 1px solid #dbdbdb;
        &:last-child {
            margin-right: 0;
            border-right: none;
        }
    }
    article {
        padding: 0 10px;
    }
    .social {
        padding-top: 30px;
        li {
            padding: 10px 0 10px 0;
            margin: 0 30px 0 0;
            border-bottom: 1px dotted #dbdbdb;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                border: none;
            }
            &:hover {
                @include background-image(linear-gradient(top, rgba(234,234,234,0.65) 0%,rgba(255,255,255,0.31) 53%,rgba(255,255,255,0) 100%));
                @include filter-gradient(#eaeaea, #ffffff, vertical); // IE6-9
            }
        }
        a {
            position: relative;
            display: block;
            overflow: hidden;
            height: 10px;
            padding: 12px 10px 10px 46px;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-weight: normal;
            span {
                position: absolute;
                z-index: 2;
                top: 12px;
                right: -240px;
                color: #dbdbdb;
                @include transition(all .2s ease-in-out);
            }
            &:hover {
                span {
                    right: 10px;
                    color: $hover_color;
                }
            }
        }
    }
    .myself {
        padding-top: 30px;
        padding-bottom: 90px;
        article {
            font-family: ProximaNovaLight, Helvetica, Arial, sans-serif;
            font-weight: normal;
            padding-right: 31px;
            text-align: center;
        }
        h3 {
            padding: 6px 6px 19px 6px;
            margin: 0;
            border-bottom: 1px solid rgba(#ccc, .3);
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-size: 26px;
            font-weight: normal;
            text-align: center;
            text-transform: lowercase;
        }
        p {
            padding: 20px 0 0;
            border-top: 1px solid rgba(#ccc, .1);
            color: #666;
            line-height: 20px;
        }
        figure {
            position: relative;
            margin: 0 auto;
            overflow: hidden;
            width: 118px;
            height: 118px;
            border: 1px solid #fff;
            @include border-radius(60px);
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 118px;
                height: 118px;
                @include border-radius(60px);
                @include box-shadow(inset 0 0 4px rgba(#000, .6));
                @include border-radius(60px);
            }
        }
    }
    .tweets {
        position: relative;
        overflow: hidden;
        padding: 10px 0 0;
        height: 370px;
        .limit {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 2;
            background-color: transparent;
            @include background-image(linear-gradient(top, rgba(252,252,252,0) 0%, rgba(252,252,252,1) 66%));
            width: 100%;
            height: 130px;
        }
        article {
            z-index: 1;
            margin: 20px 0 40px 0;
            a {
                color: #ccc;
            }
            &.active {
                display: block;
                a {
                    color: #333;
                 }
            }
            a:hover {
                color: #666;
            }
        }
        p {
            font-family: ProximaNovaLight, Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: normal;
            line-height: 22px;
        }
        a:hover {
            p {
                color: $hover_color;
            }
        }
    }
}

.secondary-page {
    position: relative;
    background-color: #fff;
    .sidebar {
        z-index: 1;
        position: fixed;
        width: 364px;
        height: 100%;
        margin-left: 0;
        margin-right: 20px;
        padding-top: 80px;
        background-color: #fff;
        border-left: 1px dotted rgba(#dbdbdb, .5);
        border-right: 1px solid #dbdbdb;
        h1, h2 {
            padding: 20px;
        }
        h1 {
            margin: 0;
            padding-top: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #dbdbdb;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-size: 42px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 42px;
        }
        h2 {
            margin: 0;
            color: #666;
            font-family: ProximaNovaLight, Helvetica, Arial, sans-serif;
            font-size: 22px;
            font-weight: normal;
            letter-spacing: -1px;
            line-height: 22px;
            text-transform: lowercase;
            @include border-radius(3px);
        }
    }
    .main-content {
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 366px;
        width: 795px;
        border-right: 1px dotted rgba(#dbdbdb, .5);
        .limit {
            position: fixed;
            margin-left: 0;
            top: 100%;
            margin-top: -130px;
            z-index: 2;
            @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 66%));
            width: 100%;
            height: 130px;
        }
    }
    .projects-list {
        h3 {
            position: fixed;
            width: 775px;
            z-index: 10;
            margin-bottom: 20px;
            padding-top: 84px;
            padding-left: 20px;
            padding-bottom: 6px;
            background-color: rgba(#fff, .9);
            border-bottom: 1px solid #dbdbdb;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-size: 32px;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: -1px;
            line-height: 42px;
        }
        ul.first {
            padding-top: 160px;
        }
        li {
            position: relative;
            float: left;
            padding: 0 40px;
            margin-bottom: 80px;
            width: 172px;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: normal;
            line-height: 18px;
            text-align: center;
            a {
                color: #333;
                &:hover {
                    color: $hover_color;
                }
            }
        }
        figure, img {
            @include border-radius(60px);
        }
        figure {
            position: relative;
            width: 80px;
            height: 80px;
            margin: 0 auto;
            margin-bottom: 6px;
            overflow: hidden;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 80px;
                height: 80px;
                @include box-shadow(inset 0 0 5px rgba(#000, .4));
                @include border-radius(60px);
            }
        }
    }
    .sidebar-navigation {
        a {
            display: block;
            padding: 20px;
            color: #333;
            &:hover {
                color: $hover_color;
            }
        }
    }
    .posts {
        padding: 40px 80px;
        width: 676px;
        h1 {
            margin: 0 0 20px 0;
            color: #000;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-size: 32px;
            font-weight: normal;
            letter-spacing: -1px;
            line-height: 40px;
        }
        article {
            padding: 20px 0;
            margin: 20px 0;
            a {
                p {
                    color: #666;
                    font-size: 16px;
                    line-height: 26px;
                }
                &:hover {
                    p {
                        color: #000;
                    }
                }
            }
        }
    }
    .myself {
        padding: 20px;
        border-bottom: 1px dotted #dbdbdb;
        border-top: 1px dotted #dbdbdb;
        figure, img {
            width: 80px;
            height: 80px;
            @include border-radius(60px);
        } 
        figure {
            position: relative;
            float: left;
            margin-right: 20px;
            overflow: hidden;
            border: 1px solid #fff;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 80px;
                height: 80px;
                @include box-shadow(inset 0 0 5px rgba(#000, .4));
                @include border-radius(60px);
            }
        }
        p {
            padding: 0 20px;
            color: #666;
            line-height: 20px;
            strong {
                font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            }
        }
        a:hover {
            p {
                color: $hover_color;
            }
        }
    }
    .contact {
        padding: 20px;
        li {
            margin: 0 0 10px 0;
            &:first-child {
                font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
                font-weight: normal;
                font-size: 20px;
            }
        }
    }
}
