@import "variables";
@import "compass/css3";
@import "bourbon";
@import "responsive";

@import "icons/*.png";
@include all-icons-sprites;

.clearfix:after                 { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix                { zoom: 1; } /* IE6 */
*:first-child+html .clearfix    { zoom: 1; } /* IE7 */

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('proximanova-bold-webfont.eot');
    src: url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-bold-webfont.woff') format('woff'),
         url('proximanova-bold-webfont.ttf') format('truetype'),
         url('proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('proximanova-regular-webfont.eot');
    src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('proximanova-light-webfont.eot');
    src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-light-webfont.woff') format('woff'),
         url('proximanova-light-webfont.ttf') format('truetype'),
         url('proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: ProximaNovaRegular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a {
    color: $link_color;
    text-decoration: none;
    @include transition(color .3s ease-in-out);
}

a:hover {
    color: $hover_color;
}

.button {
    padding: 0 20px !important;
    background-color: $link_color;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0;
    overflow: hidden;
    position: relative;
    font-size: 18px;
    text-align: center;
    text-transform: lowercase;
    -webkit-transition: background-color 0.35s;
    -moz-transition: background-color 0.35s;
    transition: background-color 0.35s;
    @include border-radius(3px);
    &:hover {
        color: #fff;
    }
}

.label {
    display: block;
    height: 100%;
    padding: 0;
    position: relative;
    top: 0%;
    -webkit-transition: top 0.35s;
    -moz-transition: top 0.35s;
    transition: top 0.35s;
    width: 100%;
    font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.button:hover {
    background-color: $hover_color;
}

.button:hover .label {
    top: -100%;
}

.container {
    width: 1170px;
    @include respond-to(handhelds) {
        width: 320px;
    }
    @include respond-to(landscape) {
        width: 480px;
    }
    margin-left: auto;
    margin-right: auto;
}

.user-info {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    padding: 8px;
    color: #bbb;
    background-color: #2d2d2d;
    border-top: 1px solid #000;
    li {
        float: left;
        list-style: none;
        margin: 0 12px;
    }
    a {
        color: #fff;
        text-transform: capitalize;
        border-bottom: 3px solid #2d2d2d;
        &:hover {
            color: #dbdbdb;
            border-bottom-color: #fff;
        }
        &.logout {
            float: right;
            margin: 0 20px 0 0;
        }
    }
}

.border-menu {
    margin: 3px 0 0;
    float: right;
    position: relative;
    font-size: 36px;
    width: 40px;
    height: 30px;
    @include respond-to(handhelds) {
        margin: 0 5px 0 0;
    }
    &:hover {
        &:before {
            border-color: rgba(#fff, .7);
        }
    }
}

.border-menu:before {
    content: "";
    position: absolute;
    top: 0.25em;
    left: 0;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #fff;
    border-bottom: 0.125em solid #fff;
    @include transition(border-color .2s linear);
}

.top-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    padding: 10px;
    background-color: rgba(#000, .9);
    @include box-shadow(0 0 0 4px rgba(#000, .1));
    @include box-sizing(border-box);
    @include respond-to(handhelds) {
        padding: 0;
        height: auto;
        .container {
            padding: 5px;
            @include box-sizing(border-box);
        }
    }
    .language {
        float: left;
        padding: 15px 0 14px 20px;
        border-left: 1px solid rgba(#fff, .2);
        color: #ccc;
        font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
        font-weight: normal;
        a {
            border-bottom: 1px dotted $hover_color;
            color: #fff;
        }
        @include respond-to(handhelds) {
            display: none;
        }

    }
    .title, nav {
        padding: 10px;
        height: 23px;
        float: left;
        text-transform: lowercase;
    }
    .title {
        position: relative;
        padding-right: 20px;
        border-right: 1px solid rgba(#000, .2);
        h1, h2 {
            display: inline-block;
        }
        h1 {
            color: #fff;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-size: 22px;
            font-weight: normal;
        }
        h2 {
            margin: 0 0 0 10px;
            color: #ccc;
            font-size: 16px;
        }
    }
}

#menu {
    display: block;
    position: fixed;
    top: -460px;
    right: 0;
    z-index: 15;
    background-color: #f7f7f7;
    width: 100%;
    @include transition(top .2s $ease-in-out-circ);
    @include box-shadow(0 0 0 4px rgba(#000, .1));
    @include box-sizing(border-box);
    &.visible {
        top: 74px;
        @include respond-to(handhelds) {
            top: 54px;
            height: auto;
        }
    }
    a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #dbdbdb;
        font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
        font-size: 32px;
        letter-spacing: -1px;
        text-align: center;
        text-transform: capitalize;
        @include respond-to(handhelds) {
            font-size: 20px;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.l-content {
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-bottom: 302px;
    background-color: #fff;
    @include box-shadow(0 0 10px #000);
    &.pos-fixed {
        padding: 226px 0 0;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 100px 0 0;
    background-color: #333332;
    text-transform: lowercase;
    .m-contact {
        text-align: center;
        color: #ccc;
        margin: 0 0 12px 0;
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        font-size: 32px;
        font-style: italic;
        line-height: 36px;
        @include text-shadow(-1px -1px 3px #000);
        a {
            color: #de5643;
            text-decoration: none;
        }
    }
    .source-code {
        display: block;
        float: right;
        padding: 130px 10px 10px;
        font-weight: normal;
        font-size: 14px;
        color: #333;
    }
    .m-credits {
        text-align: right;
        li {
            list-style: none;
        }
        a {
            color: #666;
            text-decoration: none;
        }
    }
    a {
        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
    .m-credits li {
        color: lighten($bg_color, 15);
    }
}

.secondary-page {
    position: relative;
    background-color: #fff;
    .sidebar {
        z-index: 1;
        position: fixed;
        width: 248px;
        height: 100%;
        margin-left: 0;
        margin-right: 20px;
        padding-top: 100px;
        background-color: #fff;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #fff;
        h1, h2 {
            padding: 20px;
        }
        h1 {
            margin: 0;
            padding-top: 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #dbdbdb;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-size: 42px;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 42px;
        }
        h2 {
            margin: 0;
            color: #666;
            font-family: ProximaNovaLight, Helvetica, Arial, sans-serif;
            font-size: 22px;
            font-weight: normal;
            letter-spacing: -1px;
            line-height: 22px;
            text-transform: lowercase;
            @include border-radius(3px);
        }
    }
    .main-content {
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 250px;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
        .limit {
            position: fixed;
            margin-left: 0;
            top: 100%;
            margin-top: -130px;
            z-index: 2;
            @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 66%));
            width: 100%;
            height: 130px;
        }
    }

    .sidebar-navigation {
        padding: 0;
        h3 {
            padding: 0 0 10px 0;
            border-bottom: 1px solid #d8d1c0;
            box-shadow: 0 1px 0 white;
            color: #4d4d4d;
            font-size: 12px;
            font-weight: bold;
            margin: 0 0 20px 0;
            text-shadow: 0 1px 0 white;
            text-transform: uppercase;
        }
        ul {
            margin: 0;
        }
        li {
            a {
                display: block;
                padding: 20px;
                border-bottom: 1px solid #dbdbdb;
                text-transform: lowercase;
                border-left: 5px solid #fff;
                @include transition(border-color .3s $ease-in-quint);
                &:hover {
                    border-left: 5px solid $hover_color;
                }
            }
        }
    }

    .myself {
        padding: 20px;
        border-bottom: 1px dotted #dbdbdb;
        border-top: 1px dotted #dbdbdb;
        figure, img {
            width: 80px;
            height: 80px;
            @include border-radius(50%);
        }
        figure {
            position: relative;
            float: left;
            margin-right: 20px;
            overflow: hidden;
            border: 1px solid #fff;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 80px;
                height: 80px;
                @include box-shadow(inset 0 0 5px rgba(#000, .4));
                @include border-radius(50%);
            }
        }
        p {
            padding: 0 20px;
            color: #666;
            line-height: 20px;
            strong {
                font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            }
        }
        a:hover {
            p {
                color: $hover_color;
            }
        }
    }
    .contact {
        padding: 20px;
        li {
            margin: 0 0 10px 0;
            &:first-child {
                font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
                font-weight: normal;
                font-size: 20px;
            }
        }
    }
}
