@import "variables";
@import "compass/css3";
@import "bourbon";

.secondary-page {
    .projects-list {
        .limit {
            width: 918px;
        }
        h3 {
            position: fixed;
            width: 898px;
            z-index: 10;
            margin-bottom: 20px;
            padding-top: 84px;
            padding-left: 20px;
            padding-bottom: 6px;
            background-color: rgba(#fff, .9);
            border-bottom: 1px solid #dbdbdb;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-size: 32px;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: -1px;
            line-height: 42px;
        }
        ul.first {
            padding-top: 160px;
        }
        li {
            position: relative;
            float: left;
            padding: 0 40px;
            margin-bottom: 80px;
            width: 172px;
            font-family: ProximaNovaBold, Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: normal;
            line-height: 18px;
            text-align: center;
            a {
                color: #333;
                &:hover {
                    color: $hover_color;
                }
            }
        }
        figure, img {
            @include border-radius(50%);
        }
        figure {
            position: relative;
            width: 80px;
            height: 80px;
            margin: 0 auto;
            margin-bottom: 6px;
            overflow: hidden;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 80px;
                height: 80px;
                @include box-shadow(inset 0 0 5px rgba(#000, .4));
                @include border-radius(50%);
            }
        }
    }

    .project-details {
        padding: 80px 40px;
        width: 842px;
        h1 {
            margin: 20px 0;
            color: #000;
            font-family: ProximaNovaLight, Helvetica, Arial, sans-serif;
            font-size: 42px;
            font-weight: normal;
            letter-spacing: -2px;
            line-height: 60px;
            text-align: center;
        }
        .meta {
            margin-bottom: 5px;
            color: #333332;
            font-family: ProximaNovaLight, Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            span {
                font-size: 10px;
            }
        }
        figure {
            position: relative;
            div {
                position: relative;
                z-index: 5;
                margin: 0 auto;
                width: 240px;
                height: 240px;
                overflow: hidden;
                border: 1px solid rgba(#ccc, .5);
                @include border-radius(50%);
                img {
                    margin-left: -17px;
                }
            }
            &:before {
                content: " ";
                position: absolute;
                top: 121px;
                left: 0;
                z-index: 3;
                height: 1px;
                width: 100%;
                background-color: rgba(#ccc, .2);
            }
        }
        .description {
            color: #666;
            font-family: ProximaNovaLight, Helvetica, Arial, sans-serif;
            font-size: 22px;
            line-height: 32px;
            text-align: center;
        }
        .screenshots {
            position: relative;
            margin: 40px 0;
            text-align: center;
            &:before {
                content: " ";
                position: absolute;
                top: 40px;
                left: 0;
                z-index: 3;
                height: 1px;
                width: 100%;
                background-color: rgba(#ccc, .2);
            }
            ul {
                display: inline-block;
                position: relative;
                z-index: 5;
            }
            li {
                position: relative;
                float: left;
                margin: 0 0 0 20px;
                &:first-child {
                    margin-left: 0;
                }
                img {
                    border: 1px solid rgba(#ccc, .5);
                    cursor: -webkit-zoom-in;
                    cursor: -moz-zoom-in;
                    @include border-radius(50%);
                }
            }
        }
        .link {
            margin: 20px 0 0;
            font-size: 16px;
            text-align: center;
        }
    }
    .tags {
        margin: 20px 0 0;
        text-align: center;
        a {
            display: inline-block;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .meta {
        text-transform: lowercase;
    }

}

.js-gallery-overlay {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #000;
    z-index: 1000;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    @include opacity(0);
}

.js-gallery-image {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1005;
    @include opacity(0);
    @include box-shadow(0 0 10px #000);
}

.projects-show {
    .sidebar {
        @include opacity(.3);
        @include transition(opacity .3s $ease-in-out-quad);
        &:hover {
            @include opacity(1);
        }
    }
}
